<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/fotoku.jpg" alt="Syauqi" class="img-thumbnail rounded-circle" width="180" height="180" />
      <h1>Hallo saya Syauqi</h1>
      <p>Pengusaha Muda</p>
    </div>
  </div>
</div>